@use "./helpers" as *;

body {
	font-family: var(--font-family-base);
	font-weight: 400;
	font-size: fluid(18, 14);
	color: var(--color-gray-60);
	background-color: var(--color-dark-08);
	overflow-x: hidden;

	&:has(dialog[open]) {
		overflow: hidden;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
	color: var(--color-white);
}

h1,
.h1 {
	font-family: var(--font-family-alt);
	font-size: fluid(70, 30);
	font-weight: 500;
}

h2,
.h2 {
	font-family: var(--font-family-alt);
	font-size: fluid(58, 27);
	font-weight: 500;
}

h3,
.h3 {
	font-family: var(--font-family-alt);
	font-size: fluid(40, 24);
	font-weight: 600;
}

h4,
.h4 {
	font-family: var(--font-family-base);
	font-size: fluid(26, 18);
	font-weight: 600;
}

h5,
.h5 {
	font-family: var(--font-family-base);
	font-size: fluid(24, 18);
	font-weight: 500;
}

h6,
.h6 {
	font-family: var(--font-family-base);
	font-size: fluid(20, 16);
	font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a,
button {
	-webkit-tap-highlight-color: transparent;
	outline-offset: 4px;
}

.has-yellow-border {
	border-color: var(--color-yellow-55) !important;
}

main > section:not(:last-child) {
	display: none;
}
