@use "@/app/styles/helpers" as *;

.hero {
	display: grid;
	grid-template-columns: 59% 41%;

	@include mobile {
		grid-template-columns: 1fr;
	}

	&__text {
		padding: fluid(150, 40) fluid-to-laptop(50, 40) 100px 0;

		@include mobile {
			padding: fluid(150, 40) 0 30px 0;
		}
	}

	&__pre-title {
		font-family: var(--font-family-alt);
		font-size: fluid(30, 18);
		font-weight: 500;
		color: var(--color-dark-40);
	}

	&__title {
		margin-top: fluid(30, 14);
	}

	&__description {
		margin-top: fluid(20, 10);
		color: var(--color-gray-50);
	}

	&__statistics {
		position: relative;
		grid-column: 1 / 2;
		display: grid;
		grid-template-columns: 1fr 1.16fr 1fr;
		//* This is necessary so that the pseudo-element with a left/right border always has a height of 2 lines.
		grid-auto-rows: 1fr;

		&::before {
			@include full-width-background;

			width: calc((100vw - 100%) / 2 + 100%);
			background-color: transparent;
			border-bottom: none;

			@include mobile {
				width: 100vw;
			}
		}

		&-item {
			position: relative;
			padding-block: fluid(50, 20);

			&--has-pseudo-bottom {
				&::before {
					@include full-width-background;

					//* I found it by trial and error
					margin-left: calc((100% - 100vw) / 1);
					background-color: transparent;
					border-top: none;

					@include mobile {
						margin-left: calc((100% - 100vw) / 2);
					}
				}
			}

			&--has-inline-borders-for-only-row {
				&::before {
					@include full-width-background-with-inline-borders;

					height: 100%;
				}
			}

			&--has-inline-borders-for-some-rows {
				&::before {
					@include full-width-background-with-inline-borders;
				}
			}

			&--has-right-border-for-some-rows-on-mobile {
				&::before {
					@include full-width-background-with-inline-borders;

					border-left: none;
				}
			}

			&--has-left-border-for-some-rows-on-mobile {
				&::before {
					@include full-width-background-with-inline-borders;

					border-right: none;
				}
			}

			&:nth-child(3n + 1) {
				padding-right: fluid(50, 20);
			}

			&:nth-child(3n + 2) {
				padding-inline: fluid(50, 20);
			}

			&:nth-child(3n + 3) {
				padding-left: fluid(50, 20);

				h2,
				p {
					@include mobile-above {
						padding-right: fluid(50, 20);
					}
				}
			}

			h2 {
				font-family: var(--font-family-base);

				span {
					color: var(--color-yellow-55);
				}
			}

			p {
				margin-top: fluid(10, 0);
			}
		}
	}

	&__explore {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: fluid(395, 100) 0 fluid(80, 40) fluid(80, 24);
		background:
			linear-gradient(rgba(#141414, 0), rgba(#141414, 1)),
			url("./background.png") top left/cover no-repeat;
		border-left: var(--border);

		@include mobile {
			grid-column: 1 / 2;
			grid-row: auto;
			padding-right: fluid(80, 24);
			border-left: none;
		}

		&-people {
			display: inline-block;
			width: fluid(218, 134);
			height: fluid(80, 56);
			padding: 10px;
			background-color: var(--color-dark-10);
			border: var(--border);
			border-radius: 100px;

			img {
				@include round-image;
			}
		}

		h3 {
			margin-top: fluid-to-laptop(30, 20);
		}

		p {
			margin-top: fluid(14, 4);
		}

		.link {
			margin-top: fluid-to-laptop(30, 20);
		}
	}
}
