@use "@/app/styles/helpers" as *;

.hero__cards {
	position: relative;
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 6fr 7fr 6fr;
	//* This is necessary so that the pseudo-element with a left/right border always has a height of 2 lines.
	grid-auto-rows: 1fr;

	@include mobile {
		grid-template-columns: 1fr;
	}

	&::before {
		@include full-width-background;
		background-color: transparent;
		border-bottom: none;
	}

	&-item {
		position: relative;
		padding-block: fluid(50, 30);

		@include mobile {
			&:not(:last-child) {
				border-bottom: var(--border);
			}
		}

		&--has-pseudo-bottom {
			&::before {
				@include full-width-background;

				background-color: transparent;
				border-top: none;
			}
		}

		&--has-right-border {
			&::before {
				@include full-width-background-with-inline-borders;

				border-left: none;
			}
		}

		&--has-left-border {
			&::before {
				@include full-width-background-with-inline-borders;

				border-right: none;
			}
		}

		@include mobile-above {
			&:nth-child(3n + 1) {
				padding-right: fluid-to-laptop(80, 50);
			}

			&:nth-child(3n + 2) {
				padding-inline: fluid-to-laptop(80, 50);
			}

			&:nth-child(3n + 3) {
				padding-left: fluid-to-laptop(80, 50);
			}
		}

		p {
			margin-top: fluid(30, 10);
		}

		.link-card > div {
			align-items: start;

			@include mobile {
				align-items: center;
			}
		}
	}

	&-icon {
		@include square(fluid(50, 30));
	}
}
