@use "@/app/styles/helpers" as *;

.footer {
	//* Needed for the pseudo borders of the items of the top block
	background-color: var(--color-dark-08);

	&__grid {
		display: grid;
		//* To have a maximum of 5 columns as in the layout
		grid-template-columns: repeat(
			auto-fill,
			minmax(max(169px, (100% - (4 * fluid(80, 20))) / 5), 1fr)
		);
		gap: fluid(80, 20);
		padding-block: fluid(80, 40);
	}

	&__column {
		h4 {
			margin-bottom: fluid(36, 16);
		}

		&--is-wide {
			grid-column: 1 / -1;

			ul {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 12px;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: fluid(18, 8);

		li {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__link {
		position: relative;
		color: var(--color-dark-40);

		&::before {
			@include pseudo-element-underline;
		}

		@include hover {
			color: var(--color-yellow-55);

			&::before {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		&:focus {
			color: var(--color-yellow-55);
		}
	}

	.link {
		div {
			@include laptop {
				margin-left: 4px;
			}
		}

		&--has-border {
			padding: 10px;
			border-radius: var(--border-radius-s);

			@include laptop {
				border-radius: var(--border-radius-xs);
			}
		}
	}

	hr {
		height: 1px;
		margin: 0;
		background-color: var(--color-dark-15);
		border: none;
	}

	.copyright {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		column-gap: 100px;
		padding-block: fluid-to-laptop(40, 24);
		color: var(--color-dark-40);

		@include tablet {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 20px;
		}

		ul {
			display: flex;
		}

		&__links {
			li:first-child {
				padding-right: 11px;
				border-right: var(--border);
			}

			li:last-child {
				padding-left: 11px;
			}

			&-link {
				position: relative;
				&::before {
					@include pseudo-element-underline;
				}

				@include hover {
					color: var(--color-yellow-55);

					&::before {
						transform: scaleX(1);
						transform-origin: bottom left;
					}
				}

				&:focus {
					color: var(--color-yellow-55);
				}
			}
		}

		&__socials {
			flex-shrink: 0;
			flex-wrap: wrap;
			gap: fluid-to-laptop(20, 14);

			@include tablet {
				order: -1;
			}

			li {
				@include square(fluid-to-laptop(24, 20));
			}

			&-link {
				@include hover {
					svg path {
						fill: var(--color-yellow-55);
					}
				}

				&:focus {
					svg path {
						fill: var(--color-yellow-55);
					}
				}
			}
		}

		p {
			justify-self: end;

			@include tablet {
				justify-self: initial;
			}
		}
	}
}
