@use "@/app/styles/helpers" as *;

.footer {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(169px, 1fr));
		gap: fluid(80, 20);
		padding-block: fluid(80, 40);
	}

	&__column {
		h4 {
			margin-bottom: fluid(36, 16);
		}

		&--is-wide {
			grid-column: 1 / -1;

			ul {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 12px;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: fluid(18, 8);
	}

	&__link {
		position: relative;
		color: var(--color-dark-40);

		&::before {
			@include pseudo-element-underline;
		}

		@include hover {
			color: var(--color-yellow-55);

			&::before {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		&:focus {
			color: var(--color-yellow-55);
		}
	}

	.link {
		div {
			@include laptop {
				margin-left: 4px;
			}
		}

		&--has-border {
			padding: 10px;
			border-radius: var(--border-radius-s);

			@include laptop {
				border-radius: var(--border-radius-xs);
			}
		}
	}

	hr {
		height: 1px;
		margin: 0;
		background-color: var(--color-dark-15);
		border: none;
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-block: fluid-to-laptop(40, 24);
		color: var(--color-dark-40);

		@include tablet {
			flex-direction: column;
			align-items: center;
		}

		ul {
			display: flex;
		}

		&__links {
			gap: fluid-to-laptop(11, 8);

			li:empty {
				width: 1px;
				background-color: var(--color-dark-15);
			}

			&-link {
				position: relative;
				&::before {
					@include pseudo-element-underline;
				}

				@include hover {
					color: var(--color-yellow-55);

					&::before {
						transform: scaleX(1);
						transform-origin: bottom left;
					}
				}

				&:focus {
					color: var(--color-yellow-55);
				}
			}
		}

		&__socials {
			flex-wrap: wrap;
			gap: fluid-to-laptop(20, 14);

			@include tablet {
				order: -1;
			}

			li {
				@include square(fluid-to-laptop(24, 20));
			}

			&-link {
				@include hover {
					svg path {
						fill: var(--color-yellow-55);
					}
				}

				&:focus {
					svg path {
						fill: var(--color-yellow-55);
					}
				}
			}
		}
	}
}
