@use "@/app/styles/helpers" as *;

.contact-card {
	display: flex;
	flex-direction: column;

	@include mobile {
		align-items: center;
	}

	h2 {
		margin-bottom: fluid(50, 20);
	}

	.link {
		width: fit-content;

		&:not(:first-of-type) {
			margin-top: fluid-to-laptop(15, 10);
		}
	}

	p {
		margin-bottom: fluid-to-laptop(15, 10);
		font-size: fluid(18, 16);
	}

	&__socials {
		display: inline-flex;
		flex-wrap: wrap;
		gap: fluid-to-laptop(20, 10);

		&-link {
			padding: fluid-to-laptop(18, 14) 30px;
			border: var(--border);
			border-radius: var(--border-radius-xs);

			@include laptop {
				padding-inline: 32px;
			}

			@include hover {
				border-color: var(--color-yellow-55);

				svg path {
					fill: var(--color-yellow-55);
				}
			}

			&:focus {
				border-color: var(--color-yellow-55);

				svg path {
					fill: var(--color-yellow-55);
				}
			}

			div {
				@include square(fluid-to-laptop(24, 20));
			}
		}
	}
}
