@use "@/app/styles/helpers" as *;

.contact-card {
	display: flex;
	flex-direction: column;
	padding: fluid(80, 20) fluid-to-laptop(50, 30);

	@include mobile {
		display: block;
		padding-inline: 0;
	}

	.link {
		width: fit-content;
		white-space: nowrap;
	}

	&__socials,
	h2 + .link,
	p {
		margin-top: fluid(50, 20);

		@include mobile {
			margin-right: fluid(50, 20);
		}
	}

	.link + .link,
	p + .link {
		margin-top: fluid-to-laptop(15, 10);

		@include mobile {
			margin-top: fluid(50, 20);
		}
	}

	p {
		font-size: fluid(18, 16);
	}

	&__socials {
		display: inline-flex;
		gap: fluid-to-laptop(20, 10);

		&-link {
			padding: fluid-to-laptop(18, 14) 30px;
			border: var(--border);
			border-radius: var(--border-radius-xs);

			@include laptop {
				padding-inline: 32px;
			}

			@include mobile {
				padding-inline: 38px;
			}

			@include hover {
				border-color: var(--color-yellow-55);

				svg path {
					fill: var(--color-yellow-55);
				}
			}

			&:focus {
				border-color: var(--color-yellow-55);

				svg path {
					fill: var(--color-yellow-55);
				}
			}

			div {
				@include square(fluid-to-laptop(24, 20));
			}
		}
	}
}
