@use "@/app/styles/helpers" as *;

.header {
	&__list {
		display: flex;
		gap: fluid-to-laptop(16, 6);
	}

	&__mobile-menu {
		.header__list {
			flex-direction: column;
			align-items: center;
			gap: 20px;
			color: white;
		}
	}

	&__link {
		padding: fluid-to-laptop(14, 10) fluid-to-laptop(24, 18);
		border: var(--border-width) solid transparent;
		border-radius: var(--border-radius-m);
		user-select: none;

		&--is-active {
			color: var(--color-white);
			background-color: var(--color-dark-08);
			border-color: var(--color-dark-15);
		}

		&:not(.header__link--is-active) {
			@include hover {
				color: var(--color-dark-08);
				background-color: var(--color-yellow-55);
				border-color: var(--color-yellow-55);
			}
		}
	}
}
