@use "@/app/styles/helpers" as *;

.header {
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-block: fluid-to-laptop(24, 20);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -50vw;
			z-index: -1;
			width: 200vw;
			height: 100%;
			background-color: var(--color-dark-10);
			background-color: blue;
		}
	}

	&__logo {
		width: fluid(179, 126);
		height: fluid(50, 35);
	}

	&__burger-button {
		width: fluid(68, 34);
		height: fluid(68, 34);
		background-color: var(--color-dark-10);
	}
}
