@use "@/app/styles/helpers" as *;

.header {
	&__list {
		display: flex;
		gap: fluid-to-laptop(16, 6);
	}

	&__link {
		padding: fluid-to-laptop(14, 10) fluid-to-laptop(24, 18);
		border: var(--border-width) solid transparent;
		border-radius: var(--border-radius-m);
		user-select: none;

		&--is-active {
			color: var(--color-white);
			background-color: var(--color-dark-08);
			border-color: var(--color-dark-15);
		}
	}
}
