@use "@/app/styles/helpers" as *;

.header {
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-block: fluid-to-laptop(24, 20);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -50vw;
			z-index: -1;
			width: 150vw;
			height: 100%;
			background-color: var(--color-dark-10);
		}
	}

	&__logo {
		width: fluid(179, 126);
		height: fluid(50, 35);
	}

	&__mobile-menu-wrapper {
		left: -150%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 100vw;
		max-width: 100vw;
		height: 100vh;
		max-height: 100vh;
		margin: 0;
		padding: 0;
		background-color: var(--color-dark-25);
		border: none;
		transition-duration: var(--transition-duration-longer);

		&--is-open {
			left: 0;
		}

		&::backdrop {
			background-color: transparent;
		}
	}

	&__burger-button {
		width: fluid(68, 34);
		height: fluid(68, 34);
		padding: 8px 5px;
		background-color: var(--color-dark-10);

		div {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: end;
			width: 100%;
			height: 100%;

			span {
				width: 100%;
				height: 2px;
				background-color: var(--color-white);
				border-radius: 10px;

				&:last-child {
					width: 55%;
				}
			}
		}
	}
}
