@use "@/app/styles/helpers" as *;

.form {
	position: relative;
	display: flex;

	@media (width < 1300px) {
		flex-direction: column;
		align-items: center;
	}

	&::before {
		@include full-width-background;

		//* Needed for the pseudo borders of the items of the top block
		background-color: var(--color-dark-08);
	}

	&__header {
		width: 37.5%;
		height: fit-content;
		padding-right: fluid-to-laptop(80, 60);

		@media (width < 1300px) {
			width: 100%;
			height: auto;
			padding: fluid(108, 40) 0 fluid(108, 40) 0;
			text-align: center;
			border-bottom: var(--border);
		}

		@include mobile-s {
			text-align: initial;
		}

		> div {
			@include square(fluid(80, 50));

			@media (width < 1300px) {
				margin: 0 auto;
			}

			@include mobile-s {
				margin: 0;
			}
		}

		h2 {
			margin-top: fluid(50, 20);
		}
	}

	&__body {
		width: 62.5%;
		padding: fluid(80, 40) 0 fluid(80, 40) fluid(80, 40);
		border-left: var(--border);

		@media (width < 1300px) {
			width: auto;
			padding-left: 0;
			border-left: none;
		}

		@include mobile-s {
			width: 100%;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		column-gap: 50px;
		row-gap: fluid(50, 20);

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: inline-flex;
		flex-direction: column;

		label {
			margin-bottom: fluid-to-laptop(16, 12);
			font-weight: 500;
			color: var(--color-white);

			&[for="checkbox"] {
				@include mobile-above {
					white-space: nowrap;
				}
			}
		}

		input,
		textarea {
			padding: fluid-to-laptop(20, 16);
			color: var(--color-white);
			background-color: var(--color-dark-10);
			border: var(--border);
			border-radius: var(--border-radius-s);

			@include laptop {
				border-radius: var(--border-radius-xs);
			}

			&:focus-visible {
				border-color: var(--color-yellow-55);
				outline: none;
			}
		}

		input {
			&:-webkit-autofill,
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				-webkit-text-fill-color: var(--color-white) !important;
				transition:
					background-color 5000s ease-in-out 0s,
					border-color var(--transition-duration);
			}
		}

		textarea {
			height: 163px;
			padding: fluid-to-laptop(20, 16);
			resize: none;

			@include mobile {
				height: 127px;
			}
		}

		input[type="checkbox"] {
			@include square(fluid-to-laptop(28, 24));

			appearance: none;
			-webkit-appearance: none;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0;
			background-color: var(--color-dark-10);
			border: var(--border);
			border-radius: var(--border-radius-xxs);
			transition: var(--transition-duration);
			cursor: pointer;

			&::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 16px;
				margin-bottom: 4px;
				border: solid var(--color-yellow-55);
				border-width: 0 3px 3px 0;
				opacity: 0;
				transform: rotate(45deg);
				transition: var(--transition-duration);
			}

			&:checked::before {
				opacity: 1;
			}

			&:focus-visible {
				border-color: var(--color-yellow-55);
				outline: none;
			}

			@include hover {
				border-color: var(--color-yellow-55);
			}
		}

		&:has(.error) {
			input,
			textarea {
				&:focus-visible {
					border-color: red;
					outline: none;
				}
			}

			input[type="checkbox"] {
				@include hover {
					border-color: red;
				}
			}
		}

		p {
			margin-top: 5px;
			color: red;
			transform: translateZ(0);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		button {
			width: fit-content;
			padding: fluid-to-laptop(18, 14) fluid-to-laptop(46, 34);

			@include mobile-s {
				width: 100%;
			}
		}
	}

	&__item:has(textarea) {
		grid-column: 1 / 3;

		@include mobile {
			grid-column: auto;
		}
	}

	&__item:has(input[type="checkbox"]) {
		align-items: flex-start;
		align-self: center;

		div {
			display: flex;
			flex-direction: row-reverse;
			gap: fluid-to-laptop(10, 6);
		}

		label {
			margin-bottom: 0;
		}
	}

	&__item:has(button) {
		justify-self: end;

		@include mobile {
			justify-self: center;
		}

		@include mobile-s {
			width: 100%;
		}
	}
}
