@use "@/app/styles/helpers" as *;

.features {
	&__row {
		position: relative;
		display: flex;

		@include tablet {
			flex-direction: column;
		}

		&:first-of-type {
			//* Needed for the pseudo borders of the items of the top block
			background-color: var(--color-dark-08);
		}

		&:not(:first-of-type) {
			&::before {
				@include full-width-background;

				background-color: transparent;
				border-bottom: none;
			}
		}
	}

	&__column {
		padding-block: fluid-to-laptop(80, 60);

		&:first-child {
			display: flex;
			align-items: center;
			width: 37.5%;
			padding-right: fluid-to-laptop(80, 60);

			@include tablet {
				border-bottom: var(--border);
			}
		}

		&:last-child {
			width: 62.5%;
			padding-left: fluid-to-laptop(80, 60);
			border-left: var(--border);

			@include tablet {
				border-left: none;
			}
		}

		&:first-child,
		&:last-child {
			@include tablet {
				width: 100%;
				padding: 50px 0;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: fluid(30, 10);

		@include mobile-s {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		padding: fluid(40, 24);
		background-color: var(--color-dark-10);
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include laptop {
			border-radius: var(--border-radius-m);
		}

		p {
			margin-top: fluid(20, 4);
		}
	}
}
