@use "@/app/styles/helpers" as *;

.button {
	position: relative;
	z-index: 100;
	padding: fluid-to-laptop(13, 9) fluid-to-laptop(19, 13);
	font-weight: 500;
	color: var(--color-dark-08);
	border: var(--border-width) solid var(--color-yellow-55);
	border-radius: var(--border-radius-m);
	overflow: hidden;
	user-select: none;
	text-align: center;

	@include laptop {
		border-radius: var(--border-radius-xs);
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 50%;
		background-color: var(--color-yellow-55);
		inset: auto auto 0px 0px;
		opacity: 1;
		transition-duration: var(--transition-duration);
	}

	&::after {
		inset: 0px auto auto 0px;
	}

	@include hover {
		color: var(--color-yellow-55);
		background-color: transparent;
		transition-duration: var(--transition-duration);

		&::before {
			width: 100%;
			height: 0%;
			opacity: 1;
		}

		&::after {
			height: 0;
		}
	}

	&:focus {
		color: var(--color-yellow-55);
		background-color: transparent;
		transition-duration: var(--transition-duration);

		&::before {
			width: 100%;
			height: 0%;
			opacity: 1;
		}

		&::after {
			height: 0;
		}
	}
}
