@use "@/app/styles/helpers" as *;

.link {
	/* I couldn't get the underline animation to work. It either underlines the entire block, with extra white space on the sides, given the long line and smaller viewport, as it's implemented. Or it underlines each line. */

	justify-self: end;
	align-self: center;
	background-color: var(--color-dark-08);

	@include hover {
		color: var(--color-yellow-55);
	}

	&:focus {
		color: var(--color-yellow-55);
	}

	div {
		@include square(fluid-to-laptop(24, 20));

		flex-shrink: 0;
		margin-left: 10px;
		align-self: center;
		overflow: hidden;

		svg {
			transition: rotate var(--transition-duration);
		}
	}

	&--has-icon-rotate-animation {
		@include hover {
			div svg {
				rotate: 45deg;
			}
		}

		&:focus {
			div svg {
				rotate: 45deg;
			}
		}
	}

	&--has-border {
		padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include laptop {
			border-radius: var(--border-radius-s);

			div {
				margin-left: 4px;
			}
		}

		@include hover {
			border-color: var(--color-yellow-55);
		}

		&:focus {
			border-color: var(--color-yellow-55);
		}
	}

	&:not(.link--has-border) {
		span {
			position: relative;

			&::before {
				@include pseudo-element-underline;
			}
		}

		@include hover {
			span::before {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

	&--has-gray-background {
		width: 100%;
		justify-content: center;
		background-color: var(--color-dark-10);
		border-radius: var(--border-radius-s);

		@include laptop {
			border-radius: var(--border-radius-xs);
		}
	}
}
