@use "@/app/styles/helpers" as *;

.link {
	-webkit-tap-highlight-color: transparent;
	background-color: var(--color-dark-08);

	span {
		position: relative;

		&::before {
			@include pseudo-element-underline;
		}
	}

	@include hover {
		color: var(--color-yellow-55);

		span::before {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}

	&--has-icon-rotate-animation {
		@include hover {
			div svg {
				rotate: 45deg;
			}
		}
	}

	div {
		@include square(fluid-to-laptop(24, 20));

		align-self: center;
		flex-shrink: 0;
		margin-left: 10px;

		svg {
			transition: rotate var(--transition-duration);
		}
	}

	&--has-border {
		padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include laptop {
			border-radius: var(--border-radius-s);
		}

		@include hover {
			border-color: var(--color-yellow-55);

			span::before {
				transform: scaleX(0);
			}
		}
	}
}
