@use "@/app/styles/helpers" as *;

.link {
	position: relative;
	gap: 10px;
	-webkit-tap-highlight-color: transparent;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--color-yellow-55);
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform var(--transition-duration);
	}

	@include hover {
		color: var(--color-yellow-55);

		&::before {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}

	&--has-icon-rotate-animation {
		@include hover {
			.link__icon {
				rotate: 45deg;
			}
		}
	}

	div,
	&__icon {
		@include square(fluid-to-laptop(24, 20));
	}

	div {
		align-self: center;
	}

	&__icon {
		transition: rotate var(--transition-duration);
	}
}
