@use "@/app/styles/helpers" as *;

.link {
	background-color: var(--color-dark-08);

	span {
		position: relative;

		&::before {
			@include pseudo-element-underline;
		}
	}

	@include hover {
		color: var(--color-yellow-55);
	}

	&:focus {
		color: var(--color-yellow-55);
	}

	div {
		@include square(fluid-to-laptop(24, 20));

		flex-shrink: 0;
		margin-left: 10px;
		align-self: center;
		overflow: hidden;

		svg {
			transition: rotate var(--transition-duration);
		}
	}

	&--has-icon-rotate-animation {
		@include hover {
			div svg {
				rotate: 45deg;
			}
		}
	}

	&.link--has-icon-rotate-animation {
		&:focus {
			div svg {
				rotate: 45deg;
			}
		}
	}

	&--has-border {
		padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include laptop {
			border-radius: var(--border-radius-s);

			div {
				margin-left: 4px;
			}
		}

		@include hover {
			border-color: var(--color-yellow-55);
		}
	}

	&.link--has-border {
		&:focus {
			border-color: var(--color-yellow-55);
		}
	}

	&:not(.link--has-border) {
		@include hover {
			span::before {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
}
