@use "@/app/styles/helpers" as *;

.burger-button {
	@include square(45px);
	padding: 8px 5px;
	background-color: transparent;

	@include mobile-s {
		@include square(34px);
	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
		height: 100%;

		span {
			width: 100%;
			height: 3px;
			background-color: var(--color-white);
			border-radius: 10px;
			transition: all var(--transition-duration-longer);

			@include mobile-s {
				height: 2px;
			}

			&:last-child {
				width: 55%;
			}
		}
	}

	&--is-active {
		div {
			span:first-child {
				translate: 0 13px;
				rotate: 45deg;

				@include mobile-s {
					translate: 0 8px;
				}
			}

			span:nth-child(2) {
				opacity: 0;
			}

			span:last-child {
				width: 100%;
				translate: 0 -13px;
				rotate: -45deg;

				@include mobile-s {
					translate: 0 -8px;
				}
			}
		}
	}
}
