@use "@/app/styles/helpers" as *;

.resources__descriptive-info {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: repeat(4, minmax(min-content, max-content));
	column-gap: fluid-to-laptop(20, 16);
	row-gap: fluid-to-laptop(30, 24);
	padding: fluid(80, 40) 0 fluid(80, 40) fluid-to-laptop(80, 60);
	border-left: var(--border);

	@include tablet {
		padding: 40px 0;
		border-top: var(--border);
		border-left: none;
	}

	@include mobile {
		grid-template-columns: auto;
	}

	&-header {
		grid-column: 1 / 3;
		display: flex;
		align-items: center;
		gap: fluid(20, 10);

		@include mobile {
			grid-column: auto;
			flex-direction: column;
		}

		h4 {
			flex-shrink: 0;
			width: fluid-to-laptop(243, 203);

			@include mobile {
				width: 100%;
			}
		}
	}

	&-image {
		grid-column: 1 / 3;

		@include mobile {
			grid-column: auto;
		}

		img {
			width: 100%;
			border-radius: 15px;
		}
	}

	.text-wrapper {
		&:last-child {
			grid-column: 1 / 3;

			@include mobile {
				grid-column: auto;
			}
		}

		h4 {
			font-weight: 500;
		}

		@media (width < 1280px) {
			&:has(a:last-child) {
				align-items: center;
			}

			&:has(h4:last-child) {
				align-content: baseline;
			}
		}

		.link {
			@media (width < 1280px) {
				height: max-content;
			}
		}
	}
}
