@use "@/app/styles/helpers" as *;

.resources__main-info {
	padding-right: fluid-to-laptop(80, 60);

	@include tablet {
		display: grid;
		grid-template-columns: 1fr max-content;
		align-items: center;
		column-gap: fluid(60, 40);
		padding: 40px 0;
	}

	@include mobile-s {
		display: block;
	}

	.title-wrapper {
		width: fluid-to-laptop(519, 413);

		//* Using trial and error, I found the optimal width for resolutions from 1024 to 1280 pixels.
		@media (width < 1280px) {
			width: fluid(530, 40);
		}

		@include tablet {
			width: 100%;
		}

		p {
			font-size: fluid(20, 14);
		}
	}

	.link {
		margin-top: fluid(50, 24);

		@include tablet {
			grid-column: 1 / 3;
			width: fit-content;
		}

		@include mobile-s {
			width: 100%;
		}
	}

	.text-wrapper {
		width: max-content;
		margin-top: fluid(60, 20);

		@media (width < 1280px) {
			grid-template-columns: auto;
			justify-items: center;
		}

		@include tablet {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			margin-top: 0;
		}

		@include mobile-s {
			width: 100%;
			margin-top: fluid(60, 20);
		}

		div {
			@media (width < 1280px) {
				grid-column: auto;
				grid-row: auto;
			}

			@include mobile-s {
				grid-column: 2 / 3;
				grid-row: 1 / 3;
			}
		}
	}
}
