@use "@/app/styles/helpers" as *;

.prefooter {
	position: relative;
	padding-bottom: var(--section-padding-top);

	&::before {
		@include full-width-background;
	}

	&__list,
	&__item {
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include laptop {
			border-radius: var(--border-radius-m);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: fluid-to-laptop(20, 10);
		margin-top: fluid(100, 40);
		padding: fluid-to-laptop(20, 10);
		background-color: var(--color-dark-08);

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		padding: fluid(40, 24);
		background-color: var(--color-dark-10);
		transition: var(--transition-duration);

		h3 {
			font-family: var(--font-family-base);
			font-size: fluid(22, 16);
		}

		p {
			margin-top: fluid(20, 10);

			@include tablet {
				text-align: center;
			}

			@include mobile {
				text-align: initial;
			}
		}
	}
}
