@use "@/app/styles/helpers" as *;

.reviews {
	&__list {
		display: grid;
		grid-template-columns: 10fr 11fr 10fr;
		width: 100%;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		position: relative;
		min-width: 0;
		width: 100%;

		@include mobile {
			&:not(:last-child) {
				border-bottom: var(--border);
			}
		}

		&--has-pseudo-bottom {
			&::before {
				@include full-width-background;

				background-color: transparent;
				border-top: none;

				@include tablet {
					margin-left: calc((200% - 100vw) / 2);
				}
			}
		}

		&--has-left-border-on-desktop,
		&--has-left-border-on-tablet {
			&::before {
				@include full-width-background-with-inline-borders;

				border-right: none;
			}
		}

		&--has-right-border-on-desktop {
			&::before {
				@include full-width-background-with-inline-borders;

				border-left: none;
			}
		}
	}
}
