@use "@/app/styles/helpers" as *;

.review {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: fluid(80, 40) fluid-to-laptop(50, 40);

	&__author {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: fluid-to-laptop(12, 10);

		&-photo {
			@include square(fluid-to-laptop(60, 50));

			grid-row: 1 / 3;

			img {
				@include round-image;
			}
		}

		&-name {
			grid-column: 2 / 3;
			font-size: fluid-to-laptop(20, 18);
			font-weight: 500;
			color: var(--color-white);
		}

		&-location {
			grid-column: 2 / 3;
			font-size: fluid-to-laptop(18, 16);
			color: var(--color-dark-40);
		}
	}

	&__description {
		position: relative;
		margin-top: fluid-to-laptop(60, 50);
		padding: fluid(30, 20);
		padding-top: fluid(50, 30);
		text-align: center;
		color: var(--color-white);
		background-color: var(--color-dark-10);
		border: var(--border);
		border-radius: var(--border-radius-l);

		@include mobile {
			border-radius: var(--border-radius-m);
		}
	}
}

.reviews__item:nth-child(3n + 1) .review {
	padding-left: 0;
}

.reviews__item:nth-child(3n) .review {
	padding-right: 0;
}

.reviews__item:nth-child(odd) .review {
	@include tablet {
		padding-inline: fluid-to-laptop(50, 40);
		padding-left: 0;
	}

	@include mobile {
		padding-right: 0;
	}
}

.reviews__item:nth-child(even) .review {
	@include tablet {
		padding-inline: fluid-to-laptop(50, 40);
		padding-right: 0;
	}

	@include mobile {
		padding-left: 0;
	}
}
